<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shared Links</title>
    <style>
      /* CSS Styling */
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
      }
      .link-list {
        list-style-type: none;
        padding: 0;
      }
      .link-item {
        background-color: #fff;
        border: 1px solid #ddd;
        margin: 10px 0;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      .link-item a {
        text-decoration: none;
        color: #0066cc; /* Link color */
        font-weight: bold;
      }
      .link-item a:hover {
        text-decoration: underline;
      }
      .link-item p {
        margin: 5px 0 0;
        color: #666;
      }
      .add {
        color: #00a400;
      }
      .delete {
        color: #b60000;
      }
    </style>
  </head>
  <body>
    <h1>Shared Links</h1>
    <ul class="link-list" id="link-list"></ul>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const requestOptions = {
          method: "GET",
          redirect: "follow",
        };
        window.setInterval(() => {
          fetch("api/latest-messages", requestOptions)
            .then(async (response) => await response.json())
            .then((result) => {
              try {
                const links = result.data;
                console.log(".then  links:", links);
                const linkList = document.getElementById("link-list");

                linkList.innerHTML = "";
                links.forEach((link) => {
                  const listItem = document.createElement("li");
                  listItem.classList.add("link-item");

                  const linkElement = document.createElement("a");
                  linkElement.href = link.url;
                  linkElement.textContent = link.title || link.url;

                  const nameElement = document.createElement("p");
                  if (link.subtype && link.subtype === "message_deleted") {
                    nameElement.innerHTML =
                      '<span class="delete">Deleted by:</span> Tejas Soni';
                  } else {
                    nameElement.innerHTML =
                      '<span class="add">Shared by:</span> Tejas Soni';
                  }

                  listItem.appendChild(linkElement);
                  listItem.appendChild(nameElement);
                  linkList.appendChild(listItem);
                });
              } catch (error) {
                console.log(".then  error:", error);
              }
            })
            .catch((error) => console.error(error));
        }, 1000);
      });
    </script>
  </body>
</html>
